@font-face {
    font-family: digitalFont;
    src: url("../fonts/digital-7.ttf");
}

.Counter {
    font-family: digitalFont;
    font-size: 80px;
    color: #9DC13B;
}

#minutes {
    position: absolute;
    padding-left: 8px;
    left: 55px;
    top: 210px;
}

#seconds {
    position: absolute;
    left: 180px;
    top: 210px;
}

#delimitier {
    position: absolute;
    left: 152px;
    top: 210px;
}

#pomodoro {
    width: 300px;
    height: 300px;
}

#eyes {
    position: absolute;
    z-index: 1;
    top: 55px;
}

.eyeball {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;

}

.iris {
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 100px;

}

#left_eyball {
    z-index: 2;
    top: 29px;
    left: 102px;
}

#right_eyball {
    top: -21px;
    left: 152px;
}

